/* @media screen and (min-width: 410px){
  #bike_img {
    width: 100%;
  }
}
@media screen and (min-width: 600px){
  #bike_img {
    width: 100%;
  }
} */

@media screen and (max-width: 767px){
  .row {
    margin-right: -32px;
    margin-left: none;
  }

  .work-alignment {
    padding-left: 0px;
    padding-right: 20px;
  }

  .work-alignment-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .work-alignment-3 {
    padding-left: 20px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 1000px){
  h2 {
    font-style: italic;
    /* background-color: blue; */
  }
}
